---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size: 16px;
// $base-font-weight: 400;
// $small-font-size: $base-font-size * 0.875;
// $base-line-height: 1.5;
$spacing-unit: 30px;
// $text-color: #111;
// $background-color: #fdfdfd;
// $brand-color: #2a7ae2;
// $grey-color: #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@include media-query($on-palm) {
  .page-content {
    margin-right: $spacing-unit;
    margin-left: $spacing-unit;
  }
}

body {
  font: 16px/1.4 'Source Sans Pro', sans-serif;
  color: #444;
  max-width: $content-width;
  margin: 0 auto 5em auto;
  text-shadow: 1px 1px 1px white;
  background: url("/images/background.jpg") repeat scroll 0 -350px #EEEEEE;
}

img.frame {
    display:block;
    margin: 2em auto 1em auto;
    background: white;
    padding: 0.4em;
    border: 1px solid #ccc;
    height:300px;
}
img#name {
    margin:1em auto 1em auto;
    display:block;
    width:70%;
}

h2 {
    font-weight:normal;
    color:#666;
}

.updated {
    color: #bbb;
    display: block;
    margin-bottom: 2em;
    font-style:normal;
    text-align:center;
    margin-top:-1em;
}

.bibtex {
    display: none;
    font-family: monospace;
    white-space: pre;
    margin: 0 1em 1em 1em;
    font-size:10pt;
}

ul {
    list-style: inside square;
    padding-left: 1em;
}
li {
    margin-bottom: 1em;
}
ul.compact { }
ul.compact li {
    display:inline-block;
    margin: 0 1em 0 0;
}

.publications em,
.presentations em {
    font-weight:bold;
    font-style:normal;
}
.strike, .done {
    text-decoration:line-through;
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
    background:#ddd;
    padding:0.3em;
    font-size:90%;
}

footer {
  margin-top: 5em;
  padding-top: 1em;
  text-align: center;
  border-top: 1px solid #aaa;
  color: #888;
  clear: both;
}
