<!DOCTYPE html>
<html>
  <!--
                                           _
       ,,;;;,,,,   _.---.._                \`-._
     `';;;;;;;;;;;;;,      `'.           .--'-._';,
        ,;;';;''/            `;_       `';;;;'    `'.
                |  .            '-._   ,;;:'   /  '<~'.
                |  ;        \       '.,;;'     |       \
                 \  \       |                  ;._. ,-'`.
              /`'-`;.`'._   /                  /   `-.\_/
              ; .-._ .-'  .'                  |
             / /    '\ .-'`.                _/
         _.-' /       \ \   '-._            /
        (_/_.'     __.) /       `;--.._/   (
                  (_/__/          \   `,   \
                                   \  | \   \
                                    \ \  `\  |
                                     \ \   \ \
                                      \_\   \ \
                                       )-`\  \_\
                                  jgs  `==`   )-`\
                                              `==`
  -->
  {% include head.html %}
  <body>
    <header>
      <img src="/images/photo.jpg" alt="Profile photo" class="frame" />
      <a href="/"><img src="/images/name.png" alt="John J. Camilleri" id="name" /></a>
    </header>
    <div class="page-content">
      {{ content }}
    </div>
    <footer>
      John &ldquo;the J stands for John J. Camilleri&rdquo; Camilleri, 2016
    </footer>
  </body>
</html>
