<!DOCTYPE html>
<html>
  <!--
                                           _
       ,,;;;,,,,   _.---.._                \`-._
     `';;;;;;;;;;;;;,      `'.           .--'-._';,
        ,;;';;''/            `;_       `';;;;'    `'.
                |  .            '-._   ,;;:'   /  '<~'.
                |  ;        \       '.,;;'     |       \
                 \  \       |                  ;._. ,-'`.
              /`'-`;.`'._   /                  /   `-.\_/
              ; .-._ .-'  .'                  |
             / /    '\ .-'`.                _/
         _.-' /       \ \   '-._            /
        (_/_.'     __.) /       `;--.._/   (
                  (_/__/          \   `,   \
                                   \  | \   \
                                    \ \  `\  |
                                     \ \   \ \
                                      \_\   \ \
                                       )-`\  \_\
                                  jgs  `==`   )-`\
                                              `==`
  -->
  {% include head.html %}
  <body>
    <header>
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/name.png" alt="John J. Camilleri" id="name" /></a>
    </header>
    <div class="page-content">
      {{ content }}
    </div>
  </body>
</html>
